@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');

/* 

*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
    font-weight: 500 !important;
    background-color: #f1f5f9;
}

code span {
    font-family: SF Mono, sans-serif;
    font-weight: 500 !important;
}

div,
p,
ul,
li,
a,
input,
button {
    font-family: 'Roboto', 'Inter', 'Poppins';
}

h1,
h2,
h3,
h4,
h5,
span,
h6 {
    font-family: 'Poppins', 'Inter';
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 5px;
    color: #6366f1;
}

::selection {
    background-color: #8b5cf6;
    color: #fff;
}

.heading {
    font-family: 'Bitter';
}

.menu {
    position: relative;
    display: table-cell;
}

.menuLink {
    display: inline-block;
    position: relative;
}

.menuLink::after {
    content: "";
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(99, 102, 241);
    background: linear-gradient(135deg, rgba(99, 102, 241, 1) 0%, rgba(139, 92, 246, 1) 50%, rgba(168, 85, 247, 1) 100%);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 5px;
}

.menuLink:hover:after {
    width: 100%;
    left: 0;
}

.progressbar {
    color: rgb(99, 102, 241);
    color: linear-gradient(135deg, rgba(99, 102, 241, 1) 0%, rgba(139, 92, 246, 1) 50%, rgba(168, 85, 247, 1) 100%);
}

.innerShadow {
    text-shadow: inset 0 -5px 10px 0 #7c3aed;
}


/* Typewriter effect */

@keyframes typing {
    0.0000%,
    27.3488% {
        content: "";
    }
    1.1395%,
    26.2093% {
        content: "r";
    }
    2.2791%,
    25.0698% {
        content: "re";
    }
    3.4186%,
    23.9302% {
        content: "rea";
    }
    4.5581%,
    22.7907% {
        content: "read.";
    }
    30.7674%,
    51.2791% {
        content: "";
    }
    31.9070%,
    50.1395% {
        content: "w";
    }
    33.0465%,
    49.0000% {
        content: "wr";
    }
    34.1860%,
    47.8605% {
        content: "wri";
    }
    35.3256%,
    46.7209% {
        content: "writ";
    }
    36.4651%,
    45.5814% {
        content: "write.";
    }
    54.6977%,
    75.2093% {
        content: "";
    }
    55.8372%,
    74.0698% {
        content: "c";
    }
    56.9767%,
    72.9302% {
        content: "cr";
    }
    58.1163%,
    71.7907% {
        content: "cre";
    }
    59.2558%,
    70.6512% {
        content: "crea";
    }
    60.3953%,
    69.5116% {
        content: "creat";
    }
    61.5349%,
    68.3721% {
        content: "create.";
    }
    78.6279%,
    96.8605% {
        content: "";
    }
    79.7674%,
    95.7209% {
        content: "l";
    }
    80.9070%,
    94.5814% {
        content: "le";
    }
    82.0465%,
    93.4419% {
        content: "lea";
    }
    83.1860%,
    92.3023% {
        content: "lear";
    }
    84.3256%,
    91.1628% {
        content: "learn.";
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.typewriter {
    --caret: #d946ef;
}

.typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
}

.typewriter::after {
    content: "";
    border-right: 2px solid var(--caret);
    border-radius: 2px;
    animation: blink 0.6s linear infinite;
}

@media (prefers-reduced-motion) {
    .typewriter::after {
        animation: none;
    }
    @keyframes sequencePopup {
        0%,
        100% {
            content: "read";
        }
        25% {
            content: "write";
        }
        50% {
            content: "create";
        }
        75% {
            content: "learn";
        }
    }
    .typewriter::before {
        content: "explore blogs.";
        animation: sequencePopup 12s linear infinite;
    }
}

.like-active {
    color: #FF0063;
}

.modal {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.modal .text {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}